<ion-content [fullscreen]="true">
  <div class="center">

    <ion-card-title class="ion-text-center">
      <img src="../../assets/Logo Branco.png">
      <p>CTRL-Tec</p>
    </ion-card-title>

    <ion-card color="transparent">


      <ion-item lines="none" color="transparent">
        <ion-label position="floating" expand="block" color="secondary"><p>Email</p></ion-label>
        <ion-input type="email" [(ngModel)]="email" color="light"></ion-input>
      </ion-item>

      <ion-item lines="none" color="transparent">
        <ion-label position="floating" expand="block" color="secondary"><p>Senha</p></ion-label>
        <ion-input type="password" [(ngModel)]="senha" color="light"></ion-input>
      </ion-item>

    </ion-card>

    <ion-button (click)="login()" expand="block" fill="clear" color="light">
      Register
    </ion-button>
  </div>
</ion-content>
