<ion-header translucent="true">
  <ion-toolbar color="light">
    <ion-buttons collapse="true" slot="start">
      <ion-button (click)="voltar()" ><ion-icon name="arrow-back-outline" color="dark"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title slot="start" color="dark"><p>Perfil</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">

    <ion-item class="options" lines="none" color="default">
      <ion-label position="floating"><ion-img src="../../assets//icon/Edit user.png"></ion-img></ion-label>
      <ion-input type="password" [(ngModel)]="nome"></ion-input>
      <ion-note slot="helper">Nome novo</ion-note>
    </ion-item>

  </ion-card>

  <ion-card color="light">

    <ion-item class="options" lines="none" color="default">
      <ion-label position="floating"><ion-img src="../../assets//icon/Edit email.png"></ion-img></ion-label>
      <ion-input type="password" [(ngModel)]="email"></ion-input>
      <ion-note slot="helper">Email novo</ion-note>
    </ion-item>

  </ion-card>
  <div class="container-salvar">
    <ion-button (click)="menssagemSalvar()" expand="block" size="default" fill="solid" color="success">Salvar</ion-button>
  </div>

</ion-content>
