<ion-header>
  <ion-toolbar>
    <ion-buttons collapse="true" slot="start">
      <ion-button (click)="voltar()" ><ion-icon name="close" color="danger"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Criar</ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button (click)="avancar()"><ion-icon name="arrow-forward-outline" color="success"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="containerFormulario">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Cliente</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-item>
          <ion-label position="floating">Endereço</ion-label>
          <ion-input placeholder="Enter text"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-col size="5">
          <ion-item>
            <ion-label position="floating">CNPJ</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label position="floating">Data</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label position="floating">UF</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Cidade</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Inicio</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Fim</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Produto</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">TQ</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Bico</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Mas 20°C</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">% EAC</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">% Massa</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">% Ureia</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-label position="floating">% B100</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label position="floating">PF</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label position="floating">PH</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Condut</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Marcador</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Status</ion-label>
            <ion-input placeholder="Enter text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
