<ion-header>
  <ion-toolbar>
    <ion-buttons collapse="true" slot="start">
      <ion-button (click)="voltar()" ><ion-icon name="arrow-back" color="dark"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Procurar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar show-clear-button="always"></ion-searchbar>

  <div class="mostrarFormulario">
    <ion-list>
      <ion-item>
        <a href="editar-procurar/editarProcurar"><ion-label>Sonserina House<p>CNPJ</p></ion-label></a>
      </ion-item>
      <ion-item>
        <a href="editar-procurar/editarProcurar"><ion-label>Lufa Lufa House<p>CNPJ</p></ion-label></a>
      </ion-item>
      <ion-item>
        <a href="editar-procurar/editarProcurar"><ion-label>Corvinal House<p>CNPJ</p></ion-label></a>
      </ion-item>
      <ion-item>
        <a href="editar-procurar/editarProcurar"><ion-label>Grifinória House<p>CNPJ</p></ion-label></a>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
