<ion-header>
  <ion-toolbar>
    <ion-buttons collapse="true" slot="start">
      <ion-button (click)="voltar()" ><ion-icon name="arrow-back" color="dark"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Procurar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar show-clear-button="always"></ion-searchbar>

  <div class="mostrarFormulario">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <a href="../editar-procurar/editarProcurar"><img src="../../assets/icon/relatorio de visita.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a href="../editar-procurar/editarProcurar"><img src="../../assets/icon/relatorio de visita.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a href="../editar-procurar/editarProcurar"><img src="../../assets/icon/relatorio de visita.jpg"></a>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <a href="../editar-procurar/editarProcurar"><img src="../../assets/icon/relatorio de visita.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a href="../editar-procurar/editarProcurar"><img src="../../assets/icon/relatorio de visita.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a href="../editar-procurar/editarProcurar"><img src="../../assets/icon/relatorio de visita.jpg"></a>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <a href="../editar-procurar/editarProcurar"><img src="../../assets/icon/relatorio de visita.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a href="../editar-procurar/editarProcurar"><img src="../../assets/icon/relatorio de visita.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a href="../editar-procurar/editarProcurar"><img src="../../assets/icon/relatorio de visita.jpg"></a>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <a href="../editar-procurar/editarProcurar"><img src="../../assets/icon/relatorio de visita.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a href="../editar-procurar/editarProcurar"><img src="../../assets/icon/relatorio de visita.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a href="../editar-procurar/editarProcurar"><img src="../../assets/icon/relatorio de visita.jpg"></a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
