<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CTRLTEC
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-header translucent="true">
  <ion-toolbar color="transparent">
    <ion-buttons collapse="true" slot="end">
      <ion-button (click)="configuracoes()"><ion-icon name="reorder-three-outline" color="light"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title><p>CTRLTEC</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card-title class="ion-text-center">
      <img src="../../assets/Logo Branco.png">
      <p>CTRL-Tec</p>
    </ion-card-title>

    <div class="options">
      <ion-button (click)="adicionar()" fill="clear"><img src="../../assets/icon/Blue File add.png"></ion-button>
      <ion-button (click)="procurar()" fill="clear"><img src="../../assets/icon/Blue File search.png"></ion-button>
    </div>
  </div>
</ion-content>
